1) What are the types of Applications?

* Web Applications
* Add blockquote
* Desktop Applications
* Mobile Applications
* Game Development
* Machine Learning & AI
* Data Science / Data Analysis
* Automation & Scripting

2) What is programing?

* Programming is the process of writing instructions (code) that a computer can understand and execute to perform specific tasks.

3) What is Python?

* Python is a high-level, interpreted, object-oriented programming language known for its simplicity, readability, and vast libraries.

4) Write a Python program to check if a number is positive, negative or
zero.

In [1]:

num = int(input("Enter number: "))
if num > 0:
    print("Positive")
elif num < 0:
    print("Negative")
else:
    print("Zero")

Enter number: 42
Positive

5) Write a Python program to get the Factorial number of given numbers.

In [2]:
n = int(input("Enter number: "))
fact = 1
for i in range(1, n+1):
    fact *= i
print(fact)

Enter number: 5
120

6) Write a Python program to get the Fibonacci series of given range.

In [3]:
n = int(input("Enter range: "))
a, b = 0, 1
for _ in range(n):
    print(a, end=" ")
    a, b = b, a+b

Enter range: 9
0 1 1 2 3 5 8 13 21

7) How memory is managed in Python?

* Managed by Python Memory Manager.
* Uses reference counting and garbage collector to free unused memory.

8) What is the purpose continuing statement in python?

* continue skips the current iteration and jumps to the next iteration of the loop.

9) Write python program that swap two number with temp variable
and without temp variable.

In [4]:
# With temp
a, b = 5, 10
temp = a
a = b
b = temp

# Without temp
a, b = b, a

10) Write a Python program to find whether a given number is even
or odd, print out an appropriate message to the user.

In [5]:
num = int(input("Enter number: "))
if num % 2 == 0:
    print("Even")
else:
    print("Odd")

Enter number: 42
Even

11) Write a Python program to test whether a passed letter is a vowel
or not.

In [6]:
ch = input("Enter a letter: ")
if ch in "a" or "e" or "i" or "o" or "u" or "A" or "E" or "I" or "O" or "U" :
    print("Vowel")
else:
    print("Not Vowel")

Enter a letter: Jemin
Vowel

12) Write a Python program to sum of three given integers. However, if
two values are equal sum will be zero.

In [7]:
a = int(input("Enter first number: "))
b = int(input("Enter second number: "))
c = int(input("Enter third number: "))

if a == b or b == c or a == c:
    print("Sum is zero")
else:
    print("Sum is", a+b+c)

Enter first number: 45
Enter second number: 35
Enter third number: 63
Sum is 143

13) Write a Python program that will return true if the two given
integer values are equal or their sum or difference is 5.

In [8]:
x = int(input("Enter first number: "))
y = int(input("Enter second number: "))

if x == y or abs(x - y) == 5 or (x + y) == 5:
    print(True)
else:
    print(False)

Enter first number: 365
Enter second number: 456
False

14) Write a python program to sum of the first n positive integers.

In [9]:
n = 10
total = n * (n+1) // 2
print(total)

55

15) Write a Python program to calculate the length of a string.

In [10]:
s = "Python"
print(len(s))

6

16) Write a Python program to count the number of characters
(character frequency) in a string.

In [11]:
s = "pythonprogramming"
freq = {}
for ch in s:
    freq[ch] = freq.get(ch, 0) + 1
print(freq)

{'p': 2, 'y': 1, 't': 1, 'h': 1, 'o': 2, 'n': 2, 'r': 2, 'g': 2, 'a': 1, 'm': 2, 'i': 1}

17) What are negative indexes and why are they used?

* Negative indexes start from the end of the string/list.
Example: s[-1] gives last element.

18) Write a Python program to count occurrences of a substring in a string.

In [12]:
s = "hello world hello"
print(s.count("hello"))

2

19) Write a Python program to count the occurrences of each word in a given sentence.

In [13]:
s = "this is a test this is python"
words = s.split()
freq = {}
for w in words:
    freq[w] = freq.get(w, 0) + 1
print(freq)

{'this': 2, 'is': 2, 'a': 1, 'test': 1, 'python': 1}

20) Write a Python program to get a single string from two given strings,
separated by a space and swap the first two characters of each string.

In [14]:
a = "abc"
b = "xyz"

result = b[:2] + a[2:] + " " + a[:2] + b[2:]
print(result)

xyc abz

21) Write a Python program to add 'in' at the end of a given string (length
should be at least 3). If the given string already ends with 'ing' then
add 'ly' instead if the string length of the given string is less than 3,
leave it unchanged.

In [15]:
s = input("Enter a string: ")

if len(s) >= 3:
    if s.endswith("ing"):
        s = s + "ly"
    else:
        s = s + "ing"

print(s)

Enter a string: Play
Playing

22) Write a Python function to reverses a string if its length is a multiple
of 4.

In [16]:
s = input("Enter a string: ")

def reverse_if_multiple_of_4(s):
    return s[::-1] if len(s) % 4 == 0 else s

reverse_if_multiple_of_4(s)

Enter a string: Jemin ramani

'inamar nimeJ'

23) Write a Python program to get a string made of the first 2 and the last
2 chars from a given a string. If the string length is less than 2, return
instead of the empty string.

In [17]:
s = input("Enter a string: ")

if len(s) < 2:
    result = ""
else:
    result = s[:2] + s[-2:]

print("Result:", result)

Enter a string: jemin
Result: jen

24) Write a Python function to insert a string in the middle of a string.

In [18]:
def insert_middle(original, insert):
    middle = len(original) // 2
    return original[:middle] + insert + original[middle:]

print(insert_middle("python", "123"))
print(insert_middle("hello", "ABC"))

pyt123hon
heABCllo

25) What is List? How will you reverse a list?

* A list is a mutable, ordered collection in Python.

In [19]:
lst = [1, 2, 3, 4]
lst.reverse()   # Method 1
lst = lst[::-1] # Method 2

26) How will you remove last object from a list?

In [20]:
lst = [1, 2, 3]
lst.pop()

3

27) Suppose list1 is [2, 33, 222, 14, and 25], what is list1 [-
1]?

* If list1 = [2, 33, 222, 14, 25], then:
   list1[-1] = 25 (last element).

In [21]:
list1 = [2, 33, 222, 14, 25]
list1[-1]

25

28) Differentiate between append () and extend () methods?

* append(x) → Adds single element to list.
* extend([x,y]) → Adds multiple elements (iterable) to list.

29) Write a Python function to get the largest number, smallest num
and sum of all from a list.

In [22]:
lst = [10, 20, 30, 5]
print(max(lst), min(lst), sum(lst))

30 5 65

30) How will you compare two lists?

In [23]:
list1 = [1, 2, 3]
list2 = [1, 2, 3]
print(list1 == list2)

True

31) Write a Python program to count the number of strings where the string
length is 2 or more and the first and last character are same from a given list
of strings.

In [24]:
list2 = ["aba", "xyz", "aa", "1221"]
count = 0
for word in list2:
    if len(word) >= 2 and word[0] == word[-1]:
        count += 1
print(count)

3

32) Write a Python program to remove duplicates from a list.

In [25]:
list1 = [1, 2, 2, 3, 4, 4, 5]
unique = list(set(list1))
print(unique)

[1, 2, 3, 4, 5]

33) Write a Python program to check a list is empty or not.

In [26]:
list1 = []
if not list1:
    print("Empty")
else:
    print("Not Empty")

Empty

34) Write a Python function that takes two lists and returns true if they
have at least one common member.

In [27]:
list1 = [1, 2, 3, 4]
list2 = [5, 6, 7, 3]
common = any(item in list1 for item in list2)
print(common)

True

35) Write a Python program to generate and print a list of first and last 5
elements where the values are square of numbers between 1 and 30.

In [28]:
list1 = [x**2 for x in range(1, 31)]
result = list1[:5] + list1[-5:]
print(result)

[1, 4, 9, 16, 25, 676, 729, 784, 841, 900]

36) Write a Python function that takes a list and returns a new list with
unique elements of the first list

In [29]:
list1 = [1, 2, 2, 3, 4, 4, 5]
unique = []
for x in list1:
    if x not in unique:
        unique.append(x)
print(unique)

[1, 2, 3, 4, 5]

37) Write a Python program to convert a list of characters into a string.

In [30]:
list1 = ['P', 'y', 't', 'h', 'o', 'n']
string1 = ''.join(list1)
print(list1)

['P', 'y', 't', 'h', 'o', 'n']

38) Write a Python program to select an item randomly from a list.

In [31]:
import random

list1 = [10, 20, 30, 40, 50]
random = random.choice(list1)
print(random)

30

39) Write a Python program to find the second smallest number in a list.

In [32]:
list1 = [5, 2, 9, 1, 7]
list1.sort()
small = list1[1]
print(small)

2

40) Write a Python program to get unique values from a list

In [33]:
list1 = [1, 2, 2, 3, 4, 4, 5]
unique = list(set(list1))
print(unique)

[1, 2, 3, 4, 5]

41) Write a Python program to check whether a list contains a sub list

In [34]:
list1 = [1, 2, 3, 4, 5]
sub = [2, 3]
contains = str(sub)[1:-1] in str(list1)
print(contains)

True

42) Write a Python program to split a list into different variables.

In [35]:
list1 = [10, 20, 30]
a, b, c = list1
print(a, b, c)

10 20 30

43) What is tuple? Difference between list and tuple.

* Tuple → Immutable, fixed size, faster. Example: (1,2,3)
* List → Mutable, resizable. Example: [1,2,3]

44) Write a Python program to create a tuple with different data types.

In [36]:
tup = (1, "Python", 3.14, True)
print(tup)

(1, 'Python', 3.14, True)

45) Write a Python program to unzip a list of tuples into individual lists.

In [37]:
list1 = [(1, 'a'), (2, 'b'), (3, 'c')]
num, char = zip(*list1)
print(num, char)

(1, 2, 3) ('a', 'b', 'c')

46) Write a Python program to convert a list of tuples into a dictionary.

In [38]:
list1 = [(1, 'a'), (2, 'b'), (3, 'c')]
dict1 = dict(list1)
print(dict1)

{1: 'a', 2: 'b', 3: 'c'}

47) How will you create a dictionary using tuples in python?

In [39]:
tup = (("name", "Jemin"), ("age", 21))
dict1 = dict(tup)
print(dict1)

{'name': 'Jemin', 'age': 21}

48) Write a Python script to sort (ascending and descending) a
dictionary by value.

In [40]:
dict1 = {"a": 3, "b": 1, "c": 2}
asc = dict(sorted(dict1.items(), key=lambda x: x[1]))
desc = dict(sorted(dict1.items(), key=lambda x: x[1], reverse=True))
print(asc, desc)

{'b': 1, 'c': 2, 'a': 3} {'a': 3, 'c': 2, 'b': 1}

49) Write a Python script to concatenate following dictionaries to create
a new one.

In [41]:
dict1 = {"a": 1, "b": 2}
dict2 = {"c": 3, "d": 4}
dict3 = {**dict1, **dict2}
print(dict3)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

50) Write a Python script to check if a given key already exists in a
dictionary.

In [42]:
dict1 = {"a": 1, "b": 2}
key = "a"
print(key in dict1)   # True

True

51) How Do You Traverse Through a Dictionary Object in Python?

In [43]:
dict1 = {"a": 1, "b": 2, "c": 3}
for key, value in dict1.items():
    print(key, value)

a 1
b 2
c 3

52) How Do You Check the Presence of a Key in A Dictionary?

In [44]:
dict1 = {"x": 10, "y": 20}
key = "x"
print(key in dict1)  # True

True

53) Write a Python script to print a dictionary where the keys are
numbers between 1 and 15.

In [45]:
dict1 = {x: x**2 for x in range(1, 16)}
print(dict1)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100, 11: 121, 12: 144, 13: 169, 14: 196, 15: 225}

54) Write a Python program to check multiple keys exists in a dictionary

In [46]:
dict1 = {"a": 1, "b": 2, "c": 3}
keys = {"a", "c"}
print(keys.issubset(dict1.keys()))

True

55) Write a Python script to merge two Python dictionaries

In [47]:
dict1 = {"a": 100, "b": 200}
dict2 = {"c": 300, "d": 400}
merge = {**dict1, **dict2}
print(merge)

{'a': 100, 'b': 200, 'c': 300, 'd': 400}

56) Write a Python program to map two lists into a dictionary
* Sample output: Counter ({'a': 400, 'b': 400,’d’: 400, 'c': 300}).

In [48]:
from collections import Counter

keys = ['a', 'b', 'c', 'd']
values = [400, 400, 300, 400]

my_dict = dict(zip(keys, values))
result = Counter(my_dict)
print(result)

Counter({'a': 400, 'b': 400, 'd': 400, 'c': 300})

57) Write a Python program to find the highest 3 values in a dictionary

In [49]:
dict1 = {"a": 100, "b": 200, "c": 50, "d": 400, "e": 250}
top3 = sorted(dict1.values(), reverse=True)[:3]
print(top3)

[400, 250, 200]

58) Write a Python program to combine values in python list of dictionaries.

* Sample data: [{'item': 'item1', 'amount': 400}, {'item': 'item2', 'amount':
300}, o {'item': 'item1', 'amount': 750}]
* Expected Output:
• Counter ({'item1': 1150, 'item2': 300})

In [50]:
from collections import Counter

list1 = [{'item': 'item1', 'amount': 400},
            {'item': 'item2', 'amount': 300},
            {'item': 'item1', 'amount': 750}]
count = Counter()

for d in list1:
    count[d['item']] += d['amount']
print(count)

Counter({'item1': 1150, 'item2': 300})

59) Write a Python program to create a dictionary from a string.
Note: Track the count of the letters from the string.

In [51]:
string = "jeminramani"

dict1 = {}
for i in string:
    dict1[i] = dict1.get(i, 0) + 1
print(dict1)

{'j': 1, 'e': 1, 'm': 2, 'i': 2, 'n': 2, 'r': 1, 'a': 2}

60)
* Sample string: 'w3resource'
* Expected output: {'3': 1,’s’: 1, 'r': 2, 'u': 1, 'w': 1, 'c': 1, 'e': 2, 'o': 1}

In [52]:
string = "w3resource"

dict1 = {}
for i in string:
    dict1[i] = dict1.get(i, 0) + 1
print(dict1)

{'w': 1, '3': 1, 'r': 2, 'e': 2, 's': 1, 'o': 1, 'u': 1, 'c': 1}

61) Write a Python function to calculate the factorial of a number (a
nonnegative integer)

In [53]:
def facto(n):
    facto = 1
    for i in range(1, n+1):
        facto *= i
    return facto

print(facto(5))

120

62) Write a Python function to check whether a number is in a given range

In [54]:
def check(n, start, end):
    return start <= n <= end

print(check(10, 5, 20))

True

63) Write a Python function to check whether a number is perfect or not.

In [55]:
def per(n):
    div = [i for i in range(1, n) if n % i == 0]
    return sum(div) == n

print(per(28))

True

64) Write a Python function that checks whether a passed string is
palindrome or not

In [56]:
def palin(n):
    return n == n[::-1]

print(palin("tenet"))

True

65) How Many Basic Types of Functions Are Available in Python?

* Built-in Functions (e.g., len(), sum())
* User-defined Functions (def)
* Lambda (Anonymous) Functions

66) How can you pick a random item from a list or tuple?

In [57]:
import random

list1 = [10, 20, 30, 40]
tup = (1, 2, 3, 4)
print(random.choice(list1))
print(random.choice(tup))

10
1

67) How can you pick a random item from a range?

In [2]:
import random

my_range = range(1, 10)
print(random.choice(my_range))

4

68) How can you get a random number in python?

In [59]:
import random

rdm = random.randint(1, 100)
print(rdm)

5

69) How will you set the starting value in generating random numbers?

In [60]:
import random

random.seed(5)
print(random.randint(1, 100))

80

70) How will you randomize the items of a list in place?

In [61]:
import random

list1 = [1, 2, 3, 4, 5]
random.shuffle(list1)
print(list1)

[2, 1, 4, 5, 3]


71) What is File function in python? What are keywords to create
and write file.

* open(filename, mode) → open file
* Modes: "r" (read), "w" (write), "a" (append), "b" (binary)

72) Write a Python program to read an entire text file.

In [66]:
with open("file.txt", "r") as f:
    data = f.read()
print(data)

Hi people

73) Write a Python program to append text to a file and display the text.

In [67]:
with open("file.txt", "a") as f:
    f.write("How are you?")

with open("file.txt", "r") as f:
    print(f.read())

Hi people
How are you?

74. Write a Python program to read first n lines of a file.

In [10]:
n = 1
with open("file.txt", "r") as f:
    for i in range(n):
        print(f.readline())

Hi people

75) Write a Python program to read last n lines of a file.

In [71]:
n = 3
with open("file.txt", "r") as f:
    lines = f.readlines()
print(lines[-n:])

['Hi people\n', 'How are you?']

76) Write a Python program to read a file line by line and store it into a list

In [72]:
with open("file.txt", "r") as f:
    list1 = f.readlines()
print(list1)

['Hi people\n', 'How are you?']

77) Write a Python program to read a file line by line store it into a variable.

In [73]:
with open("file.txt", "r") as f:
    data = f.read()
print(data)

Hi people
How are you?

78) Write a python program to find the longest words.

In [11]:
with open("file.txt", "r") as f:
    word = f.read().split()
longest = max(word, key=len)
print(longest)

people

79) Write a Python program to count the number of lines in a text file.

In [74]:
with open("file.txt", "r") as f:
    count = len(f.readlines())
print(count)

2

80) Write a Python program to count the frequency of words in a file.

In [75]:
from collections import Counter

with open("file.txt", "r") as f:
    word = f.read().split()
freq = Counter(word)
print(freq)

Counter({'Hi': 1, 'people': 1, 'How': 1, 'are': 1, 'you?': 1})

81) Write a Python program to write a list to a file.

In [12]:
list1 = ["Python", "Data", "Excel"]
with open("file3.txt", "w") as f:
    for i in list1:
        f.write(i + "\n")

82) Write a Python program to copy the contents of a file to another file.

In [13]:
with open("file.txt", "r") as f1:
    data1 = f1.read()

with open("file2.txt", "w") as f2:
    f2.write(data1)

83) Explain Exception handling? What is an Error in Python?

* Error → Problems in code (Syntax Error, Indentation Error).
* Exception → Runtime issues (ZeroDivisionError, ValueError).
* Exception Handling uses try-except.

84) How many except statements can a try-except block have? Name
Some built-in exception classes:

* Multiple except blocks possible.
* Examples of exceptions:
 ZeroDivisionError, ValueError, FileNotFoundError, TypeError.

85) When will the else part of try-except-else be executed?

* Runs only if no exception occurs.

86) Can one block of except statements handle multiple exception?

In [14]:
try:
    a = int("abc")
except (ValueError, TypeError):
    print("Error occurred")

Error occurred

87) When is the finally block executed?

* In Python, the finally block is executed always, no matter what happens in the try or except blocks.

88) What happens when „1‟== 1 is executed?

Returns False because string "1" and integer 1 are different types.

89) How Do You Handle Exceptions with Try/Except/Finally in Python?
Explain with coding snippets.

In [81]:
try:
    num = int("abc")
except ValueError:
    print("Value Error")
else:
    print("No Error")
finally:
    print("Always executed")

Value Error
Always executed

90) Write python program that user to enter only odd numbers, else
will raise an exception.

In [82]:
try:
    num = int(input("Enter odd number: "))
    if num % 2 == 0:
        raise ValueError("Even number entered!")
    print("Valid odd number")
except ValueError as f:
    print("Error:", f)

Enter odd number: 41
Valid odd number